@font-face { font-family: 'Coco Gothic'; src: url('../fonts/CocoGothic-Heavy.eot');src: url('../fonts/CocoGothic-Heavy.eot?#iefix') format('embedded-opentype'),url('../fonts/CocoGothic-Heavy.woff2') format('woff2'),url('../fonts/CocoGothic-Heavy.woff')format('woff'),url('../fonts/CocoGothic-Heavy.ttf')format('truetype'),url('../fonts/CocoGothic-Heavy.svg#CocoGothic-Heavy')format('svg');font-weight:900;font-style:normal;}
