/* 
* google material design icons 
* https://www.google.com/design/icons/
*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/material-icons/material-icons.eot');
    /* For IE6-8 */
    
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/material-icons/material-icons.woff2') format('woff2'), url('../fonts/material-icons/material-icons.woff') format('woff'), url('../fonts/material-icons/material-icons.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    /*display: inline-block;*/
    
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    /* Support for all WebKit browsers. */
    
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    
    font-feature-settings: 'liga';
}
[class^='md-icon'] {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Better Font Rendering =========== */
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* use in template */

.md-icon-expand-more:before {
    content: '\e5cf';
}
.md-icon-autorenew:before {
    content: '\e863';
}
.md-icon-search:before {
    content: '\e8b6';
}
.md-icon-share:before {
    content: '\e80d';
}
.md-icon-link:before {
    content: '\e157';
}
.md-icon-quote:before {
    content: '\e244';
}
/* end */

.md-icon-3d-rotation:before {
    content: '\e84d';
}
.md-icon-access-alarm:before {
    content: '\e190';
}
.md-icon-access-alarms:before {
    content: '\e191';
}
.md-icon-access-time:before {
    content: '\e192';
}
.md-icon-accessibility:before {
    content: '\e84e';
}
.md-icon-account-balance:before {
    content: '\e84f';
}
.md-icon-account-balance-wallet:before {
    content: '\e850';
}
.md-icon-account-box:before {
    content: '\e851';
}
.md-icon-account-circle:before {
    content: '\e853';
}
.md-icon-adb:before {
    content: '\e60e';
}
.md-icon-add:before {
    content: '\e145';
}
.md-icon-add-alarm:before {
    content: '\e193';
}
.md-icon-add-alert:before {
    content: '\e003';
}
.md-icon-add-box:before {
    content: '\e146';
}
.md-icon-add-circle:before {
    content: '\e147';
}
.md-icon-add-circle-outline:before {
    content: '\e148';
}
.md-icon-add-shopping-cart:before {
    content: '\e854';
}
.md-icon-add-to-photos:before {
    content: '\e39d';
}
.md-icon-adjust:before {
    content: '\e39e';
}
.md-icon-airline-seat-flat:before {
    content: '\e630';
}
.md-icon-airline-seat-flat-angled:before {
    content: '\e631';
}
.md-icon-airline-seat-individual-suite:before {
    content: '\e632';
}
.md-icon-airline-seat-legroom-extra:before {
    content: '\e633';
}
.md-icon-airline-seat-legroom-normal:before {
    content: '\e634';
}
.md-icon-airline-seat-legroom-reduced:before {
    content: '\e635';
}
.md-icon-airline-seat-recline-extra:before {
    content: '\e636';
}
.md-icon-airline-seat-recline-normal:before {
    content: '\e637';
}
.md-icon-airplanemode-active:before {
    content: '\e195';
}
.md-icon-airplanemode-inactive:before {
    content: '\e194';
}
.md-icon-airplay:before {
    content: '\e055';
}
.md-icon-alarm:before {
    content: '\e855';
}
.md-icon-alarm-add:before {
    content: '\e856';
}
.md-icon-alarm-off:before {
    content: '\e857';
}
.md-icon-alarm-on:before {
    content: '\e858';
}
.md-icon-album:before {
    content: '\e019';
}
.md-icon-android:before {
    content: '\e859';
}
.md-icon-announcement:before {
    content: '\e85a';
}
.md-icon-apps:before {
    content: '\e5c3';
}
.md-icon-archive:before {
    content: '\e149';
}
.md-icon-arrow-back:before {
    content: '\e5c4';
}
.md-icon-arrow-drop-down:before {
    content: '\e5c5';
}
.md-icon-arrow-drop-down-circle:before {
    content: '\e5c6';
}
.md-icon-arrow-drop-up:before {
    content: '\e5c7';
}
.md-icon-arrow-forward:before {
    content: '\e5c8';
}
.md-icon-aspect-ratio:before {
    content: '\e85b';
}
.md-icon-assessment:before {
    content: '\e85c';
}
.md-icon-assignment:before {
    content: '\e85d';
}
.md-icon-assignment-ind:before {
    content: '\e85e';
}
.md-icon-assignment-late:before {
    content: '\e85f';
}
.md-icon-assignment-return:before {
    content: '\e860';
}
.md-icon-assignment-returned:before {
    content: '\e861';
}
.md-icon-assignment-turned-in:before {
    content: '\e862';
}
.md-icon-assistant:before {
    content: '\e39f';
}
.md-icon-assistant-photo:before {
    content: '\e3a0';
}
.md-icon-attach-file:before {
    content: '\e226';
}
.md-icon-attach-money:before {
    content: '\e227';
}
.md-icon-attachment:before {
    content: '\e2bc';
}
.md-icon-audiotrack:before {
    content: '\e3a1';
}
.md-icon-av-timer:before {
    content: '\e01b';
}
.md-icon-backspace:before {
    content: '\e14a';
}
.md-icon-backup:before {
    content: '\e864';
}
.md-icon-battery-alert:before {
    content: '\e19c';
}
.md-icon-battery-charging-full:before {
    content: '\e1a3';
}
.md-icon-battery-full:before {
    content: '\e1a4';
}
.md-icon-battery-std:before {
    content: '\e1a5';
}
.md-icon-battery-unknown:before {
    content: '\e1a6';
}
.md-icon-beenhere:before {
    content: '\e52d';
}
.md-icon-block:before {
    content: '\e14b';
}
.md-icon-bluetooth:before {
    content: '\e1a7';
}
.md-icon-bluetooth-audio:before {
    content: '\e60f';
}
.md-icon-bluetooth-connected:before {
    content: '\e1a8';
}
.md-icon-bluetooth-disabled:before {
    content: '\e1a9';
}
.md-icon-bluetooth-searching:before {
    content: '\e1aa';
}
.md-icon-blur-circular:before {
    content: '\e3a2';
}
.md-icon-blur-linear:before {
    content: '\e3a3';
}
.md-icon-blur-off:before {
    content: '\e3a4';
}
.md-icon-blur-on:before {
    content: '\e3a5';
}
.md-icon-book:before {
    content: '\e865';
}
.md-icon-bookmark:before {
    content: '\e866';
}
.md-icon-bookmark-border:before {
    content: '\e867';
}
.md-icon-border-all:before {
    content: '\e228';
}
.md-icon-border-bottom:before {
    content: '\e229';
}
.md-icon-border-clear:before {
    content: '\e22a';
}
.md-icon-border-color:before {
    content: '\e22b';
}
.md-icon-border-horizontal:before {
    content: '\e22c';
}
.md-icon-border-inner:before {
    content: '\e22d';
}
.md-icon-border-left:before {
    content: '\e22e';
}
.md-icon-border-outer:before {
    content: '\e22f';
}
.md-icon-border-right:before {
    content: '\e230';
}
.md-icon-border-style:before {
    content: '\e231';
}
.md-icon-border-top:before {
    content: '\e232';
}
.md-icon-border-vertical:before {
    content: '\e233';
}
.md-icon-brightness-1:before {
    content: '\e3a6';
}
.md-icon-brightness-2:before {
    content: '\e3a7';
}
.md-icon-brightness-3:before {
    content: '\e3a8';
}
.md-icon-brightness-4:before {
    content: '\e3a9';
}
.md-icon-brightness-5:before {
    content: '\e3aa';
}
.md-icon-brightness-6:before {
    content: '\e3ab';
}
.md-icon-brightness-7:before {
    content: '\e3ac';
}
.md-icon-brightness-auto:before {
    content: '\e1ab';
}
.md-icon-brightness-high:before {
    content: '\e1ac';
}
.md-icon-brightness-low:before {
    content: '\e1ad';
}
.md-icon-brightness-medium:before {
    content: '\e1ae';
}
.md-icon-broken-image:before {
    content: '\e3ad';
}
.md-icon-brush:before {
    content: '\e3ae';
}
.md-icon-bug-report:before {
    content: '\e868';
}
.md-icon-build:before {
    content: '\e869';
}
.md-icon-business:before {
    content: '\e0af';
}
.md-icon-cached:before {
    content: '\e86a';
}
.md-icon-cake:before {
    content: '\e7e9';
}
.md-icon-call:before {
    content: '\e0b0';
}
.md-icon-call-end:before {
    content: '\e0b1';
}
.md-icon-call-made:before {
    content: '\e0b2';
}
.md-icon-call-merge:before {
    content: '\e0b3';
}
.md-icon-call-missed:before {
    content: '\e0b4';
}
.md-icon-call-received:before {
    content: '\e0b5';
}
.md-icon-call-split:before {
    content: '\e0b6';
}
.md-icon-camera:before {
    content: '\e3af';
}
.md-icon-camera-alt:before {
    content: '\e3b0';
}
.md-icon-camera-enhance:before {
    content: '\e8fc';
}
.md-icon-camera-front:before {
    content: '\e3b1';
}
.md-icon-camera-rear:before {
    content: '\e3b2';
}
.md-icon-camera-roll:before {
    content: '\e3b3';
}
.md-icon-cancel:before {
    content: '\e5c9';
}
.md-icon-card-giftcard:before {
    content: '\e8f6';
}
.md-icon-card-membership:before {
    content: '\e8f7';
}
.md-icon-card-travel:before {
    content: '\e8f8';
}
.md-icon-cast:before {
    content: '\e307';
}
.md-icon-cast-connected:before {
    content: '\e308';
}
.md-icon-center-focus-strong:before {
    content: '\e3b4';
}
.md-icon-center-focus-weak:before {
    content: '\e3b5';
}
.md-icon-change-history:before {
    content: '\e86b';
}
.md-icon-chat:before {
    content: '\e0b7';
}
.md-icon-chat-bubble:before {
    content: '\e0ca';
}
.md-icon-chat-bubble-outline:before {
    content: '\e0cb';
}
.md-icon-check:before {
    content: '\e5ca';
}
.md-icon-check-box:before {
    content: '\e834';
}
.md-icon-check-box-outline-blank:before {
    content: '\e835';
}
.md-icon-check-circle:before {
    content: '\e86c';
}
.md-icon-chevron-left:before {
    content: '\e5cb';
}
.md-icon-chevron-right:before {
    content: '\e5cc';
}
.md-icon-chrome-reader-mode:before {
    content: '\e86d';
}
.md-icon-class:before {
    content: '\e86e';
}
.md-icon-clear:before {
    content: '\e14c';
}
.md-icon-clear-all:before {
    content: '\e0b8';
}
.md-icon-close:before {
    content: '\e5cd';
}
.md-icon-closed-caption:before {
    content: '\e01c';
}
.md-icon-cloud:before {
    content: '\e2bd';
}
.md-icon-cloud-circle:before {
    content: '\e2be';
}
.md-icon-cloud-done:before {
    content: '\e2bf';
}
.md-icon-cloud-download:before {
    content: '\e2c0';
}
.md-icon-cloud-off:before {
    content: '\e2c1';
}
.md-icon-cloud-queue:before {
    content: '\e2c2';
}
.md-icon-cloud-upload:before {
    content: '\e2c3';
}
.md-icon-code:before {
    content: '\e86f';
}
.md-icon-collections:before {
    content: '\e3b6';
}
.md-icon-collections-bookmark:before {
    content: '\e431';
}
.md-icon-color-lens:before {
    content: '\e3b7';
}
.md-icon-colorize:before {
    content: '\e3b8';
}
.md-icon-comment:before {
    content: '\e0b9';
}
.md-icon-compare:before {
    content: '\e3b9';
}
.md-icon-computer:before {
    content: '\e30a';
}
.md-icon-confirmation-number:before {
    content: '\e638';
}
.md-icon-contact-phone:before {
    content: '\e0cf';
}
.md-icon-contacts:before {
    content: '\e0ba';
}
.md-icon-content-copy:before {
    content: '\e14d';
}
.md-icon-content-cut:before {
    content: '\e14e';
}
.md-icon-content-paste:before {
    content: '\e14f';
}
.md-icon-control-point:before {
    content: '\e3ba';
}
.md-icon-control-point-duplicate:before {
    content: '\e3bb';
}
.md-icon-create:before {
    content: '\e150';
}
.md-icon-credit-card:before {
    content: '\e870';
}
.md-icon-crop:before {
    content: '\e3be';
}
.md-icon-crop-16-9:before {
    content: '\e3bc';
}
.md-icon-crop-3-2:before {
    content: '\e3bd';
}
.md-icon-crop-5-4:before {
    content: '\e3bf';
}
.md-icon-crop-7-5:before {
    content: '\e3c0';
}
.md-icon-crop-din:before {
    content: '\e3c1';
}
.md-icon-crop-free:before {
    content: '\e3c2';
}
.md-icon-crop-landscape:before {
    content: '\e3c3';
}
.md-icon-crop-original:before {
    content: '\e3c4';
}
.md-icon-crop-portrait:before {
    content: '\e3c5';
}
.md-icon-crop-square:before {
    content: '\e3c6';
}
.md-icon-dashboard:before {
    content: '\e871';
}
.md-icon-data-usage:before {
    content: '\e1af';
}
.md-icon-dehaze:before {
    content: '\e3c7';
}
.md-icon-delete:before {
    content: '\e872';
}
.md-icon-description:before {
    content: '\e873';
}
.md-icon-desktop-mac:before {
    content: '\e30b';
}
.md-icon-desktop-windows:before {
    content: '\e30c';
}
.md-icon-details:before {
    content: '\e3c8';
}
.md-icon-developer-board:before {
    content: '\e30d';
}
.md-icon-developer-mode:before {
    content: '\e1b0';
}
.md-icon-device-hub:before {
    content: '\e335';
}
.md-icon-devices:before {
    content: '\e1b1';
}
.md-icon-dialer-sip:before {
    content: '\e0bb';
}
.md-icon-dialpad:before {
    content: '\e0bc';
}
.md-icon-directions:before {
    content: '\e52e';
}
.md-icon-directions-bike:before {
    content: '\e52f';
}
.md-icon-directions-boat:before {
    content: '\e532';
}
.md-icon-directions-bus:before {
    content: '\e530';
}
.md-icon-directions-car:before {
    content: '\e531';
}
.md-icon-directions-railway:before {
    content: '\e534';
}
.md-icon-directions-run:before {
    content: '\e566';
}
.md-icon-directions-subway:before {
    content: '\e533';
}
.md-icon-directions-transit:before {
    content: '\e535';
}
.md-icon-directions-walk:before {
    content: '\e536';
}
.md-icon-disc-full:before {
    content: '\e610';
}
.md-icon-dns:before {
    content: '\e875';
}
.md-icon-do-not-disturb:before {
    content: '\e612';
}
.md-icon-do-not-disturb-alt:before {
    content: '\e611';
}
.md-icon-dock:before {
    content: '\e30e';
}
.md-icon-domain:before {
    content: '\e7ee';
}
.md-icon-done:before {
    content: '\e876';
}
.md-icon-done-all:before {
    content: '\e877';
}
.md-icon-drafts:before {
    content: '\e151';
}
.md-icon-drive-eta:before {
    content: '\e613';
}
.md-icon-dvr:before {
    content: '\e1b2';
}
.md-icon-edit:before {
    content: '\e3c9';
}
.md-icon-eject:before {
    content: '\e8fb';
}
.md-icon-email:before {
    content: '\e0be';
}
.md-icon-equalizer:before {
    content: '\e01d';
}
.md-icon-error:before {
    content: '\e000';
}
.md-icon-error-outline:before {
    content: '\e001';
}
.md-icon-event:before {
    content: '\e878';
}
.md-icon-event-available:before {
    content: '\e614';
}
.md-icon-event-busy:before {
    content: '\e615';
}
.md-icon-event-note:before {
    content: '\e616';
}
.md-icon-event-seat:before {
    content: '\e903';
}
.md-icon-exit-to-app:before {
    content: '\e879';
}
.md-icon-expand-less:before {
    content: '\e5ce';
}
.md-icon-explicit:before {
    content: '\e01e';
}
.md-icon-explore:before {
    content: '\e87a';
}
.md-icon-exposure:before {
    content: '\e3ca';
}
.md-icon-exposure-neg-1:before {
    content: '\e3cb';
}
.md-icon-exposure-neg-2:before {
    content: '\e3cc';
}
.md-icon-exposure-plus-1:before {
    content: '\e3cd';
}
.md-icon-exposure-plus-2:before {
    content: '\e3ce';
}
.md-icon-exposure-zero:before {
    content: '\e3cf';
}
.md-icon-extension:before {
    content: '\e87b';
}
.md-icon-face:before {
    content: '\e87c';
}
.md-icon-fast-forward:before {
    content: '\e01f';
}
.md-icon-fast-rewind:before {
    content: '\e020';
}
.md-icon-favorite:before {
    content: '\e87d';
}
.md-icon-favorite-border:before {
    content: '\e87e';
}
.md-icon-feedback:before {
    content: '\e87f';
}
.md-icon-file-download:before {
    content: '\e2c4';
}
.md-icon-file-upload:before {
    content: '\e2c6';
}
.md-icon-filter:before {
    content: '\e3d3';
}
.md-icon-filter-1:before {
    content: '\e3d0';
}
.md-icon-filter-2:before {
    content: '\e3d1';
}
.md-icon-filter-3:before {
    content: '\e3d2';
}
.md-icon-filter-4:before {
    content: '\e3d4';
}
.md-icon-filter-5:before {
    content: '\e3d5';
}
.md-icon-filter-6:before {
    content: '\e3d6';
}
.md-icon-filter-7:before {
    content: '\e3d7';
}
.md-icon-filter-8:before {
    content: '\e3d8';
}
.md-icon-filter-9:before {
    content: '\e3d9';
}
.md-icon-filter-9-plus:before {
    content: '\e3da';
}
.md-icon-filter-b-and-w:before {
    content: '\e3db';
}
.md-icon-filter-center-focus:before {
    content: '\e3dc';
}
.md-icon-filter-drama:before {
    content: '\e3dd';
}
.md-icon-filter-frames:before {
    content: '\e3de';
}
.md-icon-filter-hdr:before {
    content: '\e3df';
}
.md-icon-filter-list:before {
    content: '\e152';
}
.md-icon-filter-none:before {
    content: '\e3e0';
}
.md-icon-filter-tilt-shift:before {
    content: '\e3e2';
}
.md-icon-filter-vintage:before {
    content: '\e3e3';
}
.md-icon-find-in-page:before {
    content: '\e880';
}
.md-icon-find-replace:before {
    content: '\e881';
}
.md-icon-flag:before {
    content: '\e153';
}
.md-icon-flare:before {
    content: '\e3e4';
}
.md-icon-flash-auto:before {
    content: '\e3e5';
}
.md-icon-flash-off:before {
    content: '\e3e6';
}
.md-icon-flash-on:before {
    content: '\e3e7';
}
.md-icon-flight:before {
    content: '\e539';
}
.md-icon-flight-land:before {
    content: '\e904';
}
.md-icon-flight-takeoff:before {
    content: '\e905';
}
.md-icon-flip:before {
    content: '\e3e8';
}
.md-icon-flip-to-back:before {
    content: '\e882';
}
.md-icon-flip-to-front:before {
    content: '\e883';
}
.md-icon-folder:before {
    content: '\e2c7';
}
.md-icon-folder-open:before {
    content: '\e2c8';
}
.md-icon-folder-shared:before {
    content: '\e2c9';
}
.md-icon-folder-special:before {
    content: '\e617';
}
.md-icon-font-download:before {
    content: '\e167';
}
.md-icon-format-align-center:before {
    content: '\e234';
}
.md-icon-format-align-justify:before {
    content: '\e235';
}
.md-icon-format-align-left:before {
    content: '\e236';
}
.md-icon-format-align-right:before {
    content: '\e237';
}
.md-icon-format-bold:before {
    content: '\e238';
}
.md-icon-format-clear:before {
    content: '\e239';
}
.md-icon-format-color-fill:before {
    content: '\e23a';
}
.md-icon-format-color-reset:before {
    content: '\e23b';
}
.md-icon-format-color-text:before {
    content: '\e23c';
}
.md-icon-format-indent-decrease:before {
    content: '\e23d';
}
.md-icon-format-indent-increase:before {
    content: '\e23e';
}
.md-icon-format-italic:before {
    content: '\e23f';
}
.md-icon-format-line-spacing:before {
    content: '\e240';
}
.md-icon-format-list-bulleted:before {
    content: '\e241';
}
.md-icon-format-list-numbered:before {
    content: '\e242';
}
.md-icon-format-paint:before {
    content: '\e243';
}
.md-icon-format-size:before {
    content: '\e245';
}
.md-icon-format-strikethrough:before {
    content: '\e246';
}
.md-icon-format-textdirection-l-to-r:before {
    content: '\e247';
}
.md-icon-format-textdirection-r-to-l:before {
    content: '\e248';
}
.md-icon-format-underlined:before {
    content: '\e249';
}
.md-icon-forum:before {
    content: '\e0bf';
}
.md-icon-forward:before {
    content: '\e154';
}
.md-icon-forward-10:before {
    content: '\e056';
}
.md-icon-forward-30:before {
    content: '\e057';
}
.md-icon-forward-5:before {
    content: '\e058';
}
.md-icon-fullscreen:before {
    content: '\e5d0';
}
.md-icon-fullscreen-exit:before {
    content: '\e5d1';
}
.md-icon-functions:before {
    content: '\e24a';
}
.md-icon-gamepad:before {
    content: '\e30f';
}
.md-icon-games:before {
    content: '\e021';
}
.md-icon-gesture:before {
    content: '\e155';
}
.md-icon-get-app:before {
    content: '\e884';
}
.md-icon-gif:before {
    content: '\e908';
}
.md-icon-gps-fixed:before {
    content: '\e1b3';
}
.md-icon-gps-not-fixed:before {
    content: '\e1b4';
}
.md-icon-gps-off:before {
    content: '\e1b5';
}
.md-icon-grade:before {
    content: '\e885';
}
.md-icon-gradient:before {
    content: '\e3e9';
}
.md-icon-grain:before {
    content: '\e3ea';
}
.md-icon-graphic-eq:before {
    content: '\e1b8';
}
.md-icon-grid-off:before {
    content: '\e3eb';
}
.md-icon-grid-on:before {
    content: '\e3ec';
}
.md-icon-group:before {
    content: '\e7ef';
}
.md-icon-group-add:before {
    content: '\e7f0';
}
.md-icon-group-work:before {
    content: '\e886';
}
.md-icon-hd:before {
    content: '\e052';
}
.md-icon-hdr-off:before {
    content: '\e3ed';
}
.md-icon-hdr-on:before {
    content: '\e3ee';
}
.md-icon-hdr-strong:before {
    content: '\e3f1';
}
.md-icon-hdr-weak:before {
    content: '\e3f2';
}
.md-icon-headset:before {
    content: '\e310';
}
.md-icon-headset-mic:before {
    content: '\e311';
}
.md-icon-healing:before {
    content: '\e3f3';
}
.md-icon-hearing:before {
    content: '\e023';
}
.md-icon-help:before {
    content: '\e887';
}
.md-icon-help-outline:before {
    content: '\e8fd';
}
.md-icon-high-quality:before {
    content: '\e024';
}
.md-icon-highlight-off:before {
    content: '\e888';
}
.md-icon-history:before {
    content: '\e889';
}
.md-icon-home:before {
    content: '\e88a';
}
.md-icon-hotel:before {
    content: '\e53a';
}
.md-icon-hourglass-empty:before {
    content: '\e88b';
}
.md-icon-hourglass-full:before {
    content: '\e88c';
}
.md-icon-http:before {
    content: '\e902';
}
.md-icon-https:before {
    content: '\e88d';
}
.md-icon-image:before {
    content: '\e3f4';
}
.md-icon-image-aspect-ratio:before {
    content: '\e3f5';
}
.md-icon-import-export:before {
    content: '\e0c3';
}
.md-icon-inbox:before {
    content: '\e156';
}
.md-icon-indeterminate-check-box:before {
    content: '\e909';
}
.md-icon-info:before {
    content: '\e88e';
}
.md-icon-info-outline:before {
    content: '\e88f';
}
.md-icon-input:before {
    content: '\e890';
}
.md-icon-insert-chart:before {
    content: '\e24b';
}
.md-icon-insert-comment:before {
    content: '\e24c';
}
.md-icon-insert-drive-file:before {
    content: '\e24d';
}
.md-icon-insert-emoticon:before {
    content: '\e24e';
}
.md-icon-insert-invitation:before {
    content: '\e24f';
}
.md-icon-insert-link:before {
    content: '\e250';
}
.md-icon-insert-photo:before {
    content: '\e251';
}
.md-icon-invert-colors:before {
    content: '\e891';
}
.md-icon-invert-colors-off:before {
    content: '\e0c4';
}
.md-icon-iso:before {
    content: '\e3f6';
}
.md-icon-keyboard:before {
    content: '\e312';
}
.md-icon-keyboard-arrow-down:before {
    content: '\e313';
}
.md-icon-keyboard-arrow-left:before {
    content: '\e314';
}
.md-icon-keyboard-arrow-right:before {
    content: '\e315';
}
.md-icon-keyboard-arrow-up:before {
    content: '\e316';
}
.md-icon-keyboard-backspace:before {
    content: '\e317';
}
.md-icon-keyboard-capslock:before {
    content: '\e318';
}
.md-icon-keyboard-hide:before {
    content: '\e31a';
}
.md-icon-keyboard-return:before {
    content: '\e31b';
}
.md-icon-keyboard-tab:before {
    content: '\e31c';
}
.md-icon-keyboard-voice:before {
    content: '\e31d';
}
.md-icon-label:before {
    content: '\e892';
}
.md-icon-label-outline:before {
    content: '\e893';
}
.md-icon-landscape:before {
    content: '\e3f7';
}
.md-icon-language:before {
    content: '\e894';
}
.md-icon-laptop:before {
    content: '\e31e';
}
.md-icon-laptop-chromebook:before {
    content: '\e31f';
}
.md-icon-laptop-mac:before {
    content: '\e320';
}
.md-icon-laptop-windows:before {
    content: '\e321';
}
.md-icon-launch:before {
    content: '\e895';
}
.md-icon-layers:before {
    content: '\e53b';
}
.md-icon-layers-clear:before {
    content: '\e53c';
}
.md-icon-leak-add:before {
    content: '\e3f8';
}
.md-icon-leak-remove:before {
    content: '\e3f9';
}
.md-icon-lens:before {
    content: '\e3fa';
}
.md-icon-library-add:before {
    content: '\e02e';
}
.md-icon-library-books:before {
    content: '\e02f';
}
.md-icon-library-music:before {
    content: '\e030';
}
.md-icon-list:before {
    content: '\e896';
}
.md-icon-live-help:before {
    content: '\e0c6';
}
.md-icon-live-tv:before {
    content: '\e639';
}
.md-icon-local-activity:before {
    content: '\e53f';
}
.md-icon-local-airport:before {
    content: '\e53d';
}
.md-icon-local-atm:before {
    content: '\e53e';
}
.md-icon-local-bar:before {
    content: '\e540';
}
.md-icon-local-cafe:before {
    content: '\e541';
}
.md-icon-local-car-wash:before {
    content: '\e542';
}
.md-icon-local-convenience-store:before {
    content: '\e543';
}
.md-icon-local-dining:before {
    content: '\e556';
}
.md-icon-local-drink:before {
    content: '\e544';
}
.md-icon-local-florist:before {
    content: '\e545';
}
.md-icon-local-gas-station:before {
    content: '\e546';
}
.md-icon-local-grocery-store:before {
    content: '\e547';
}
.md-icon-local-hospital:before {
    content: '\e548';
}
.md-icon-local-hotel:before {
    content: '\e549';
}
.md-icon-local-laundry-service:before {
    content: '\e54a';
}
.md-icon-local-library:before {
    content: '\e54b';
}
.md-icon-local-mall:before {
    content: '\e54c';
}
.md-icon-local-movies:before {
    content: '\e54d';
}
.md-icon-local-offer:before {
    content: '\e54e';
}
.md-icon-local-parking:before {
    content: '\e54f';
}
.md-icon-local-pharmacy:before {
    content: '\e550';
}
.md-icon-local-phone:before {
    content: '\e551';
}
.md-icon-local-pizza:before {
    content: '\e552';
}
.md-icon-local-play:before {
    content: '\e553';
}
.md-icon-local-post-office:before {
    content: '\e554';
}
.md-icon-local-printshop:before {
    content: '\e555';
}
.md-icon-local-see:before {
    content: '\e557';
}
.md-icon-local-shipping:before {
    content: '\e558';
}
.md-icon-local-taxi:before {
    content: '\e559';
}
.md-icon-location-city:before {
    content: '\e7f1';
}
.md-icon-location-disabled:before {
    content: '\e1b6';
}
.md-icon-location-off:before {
    content: '\e0c7';
}
.md-icon-location-on:before {
    content: '\e0c8';
}
.md-icon-location-searching:before {
    content: '\e1b7';
}
.md-icon-lock:before {
    content: '\e897';
}
.md-icon-lock-open:before {
    content: '\e898';
}
.md-icon-lock-outline:before {
    content: '\e899';
}
.md-icon-looks:before {
    content: '\e3fc';
}
.md-icon-looks-3:before {
    content: '\e3fb';
}
.md-icon-looks-4:before {
    content: '\e3fd';
}
.md-icon-looks-5:before {
    content: '\e3fe';
}
.md-icon-looks-6:before {
    content: '\e3ff';
}
.md-icon-looks-one:before {
    content: '\e400';
}
.md-icon-looks-two:before {
    content: '\e401';
}
.md-icon-loop:before {
    content: '\e028';
}
.md-icon-loupe:before {
    content: '\e402';
}
.md-icon-loyalty:before {
    content: '\e89a';
}
.md-icon-mail:before {
    content: '\e158';
}
.md-icon-map:before {
    content: '\e55b';
}
.md-icon-markunread:before {
    content: '\e159';
}
.md-icon-markunread-mailbox:before {
    content: '\e89b';
}
.md-icon-memory:before {
    content: '\e322';
}
.md-icon-menu:before {
    content: '\e5d2';
}
.md-icon-merge-type:before {
    content: '\e252';
}
.md-icon-message:before {
    content: '\e0c9';
}
.md-icon-mic:before {
    content: '\e029';
}
.md-icon-mic-none:before {
    content: '\e02a';
}
.md-icon-mic-off:before {
    content: '\e02b';
}
.md-icon-mms:before {
    content: '\e618';
}
.md-icon-mode-comment:before {
    content: '\e253';
}
.md-icon-mode-edit:before {
    content: '\e254';
}
.md-icon-money-off:before {
    content: '\e25c';
}
.md-icon-monochrome-photos:before {
    content: '\e403';
}
.md-icon-mood:before {
    content: '\e7f2';
}
.md-icon-mood-bad:before {
    content: '\e7f3';
}
.md-icon-more:before {
    content: '\e619';
}
.md-icon-more-horiz:before {
    content: '\e5d3';
}
.md-icon-more-vert:before {
    content: '\e5d4';
}
.md-icon-mouse:before {
    content: '\e323';
}
.md-icon-movie:before {
    content: '\e02c';
}
.md-icon-movie-creation:before {
    content: '\e404';
}
.md-icon-music-note:before {
    content: '\e405';
}
.md-icon-my-location:before {
    content: '\e55c';
}
.md-icon-nature:before {
    content: '\e406';
}
.md-icon-nature-people:before {
    content: '\e407';
}
.md-icon-navigate-before:before {
    content: '\e408';
}
.md-icon-navigate-next:before {
    content: '\e409';
}
.md-icon-navigation:before {
    content: '\e55d';
}
.md-icon-network-cell:before {
    content: '\e1b9';
}
.md-icon-network-locked:before {
    content: '\e61a';
}
.md-icon-network-wifi:before {
    content: '\e1ba';
}
.md-icon-new-releases:before {
    content: '\e031';
}
.md-icon-nfc:before {
    content: '\e1bb';
}
.md-icon-no-sim:before {
    content: '\e0cc';
}
.md-icon-not-interested:before {
    content: '\e033';
}
.md-icon-note-add:before {
    content: '\e89c';
}
.md-icon-notifications:before {
    content: '\e7f4';
}
.md-icon-notifications-active:before {
    content: '\e7f7';
}
.md-icon-notifications-none:before {
    content: '\e7f5';
}
.md-icon-notifications-off:before {
    content: '\e7f6';
}
.md-icon-notifications-paused:before {
    content: '\e7f8';
}
.md-icon-offline-pin:before {
    content: '\e90a';
}
.md-icon-ondemand-video:before {
    content: '\e63a';
}
.md-icon-open-in-browser:before {
    content: '\e89d';
}
.md-icon-open-in-new:before {
    content: '\e89e';
}
.md-icon-open-with:before {
    content: '\e89f';
}
.md-icon-pages:before {
    content: '\e7f9';
}
.md-icon-pageview:before {
    content: '\e8a0';
}
.md-icon-palette:before {
    content: '\e40a';
}
.md-icon-panorama:before {
    content: '\e40b';
}
.md-icon-panorama-fish-eye:before {
    content: '\e40c';
}
.md-icon-panorama-horizontal:before {
    content: '\e40d';
}
.md-icon-panorama-vertical:before {
    content: '\e40e';
}
.md-icon-panorama-wide-angle:before {
    content: '\e40f';
}
.md-icon-party-mode:before {
    content: '\e7fa';
}
.md-icon-pause:before {
    content: '\e034';
}
.md-icon-pause-circle-filled:before {
    content: '\e035';
}
.md-icon-pause-circle-outline:before {
    content: '\e036';
}
.md-icon-payment:before {
    content: '\e8a1';
}
.md-icon-people:before {
    content: '\e7fb';
}
.md-icon-people-outline:before {
    content: '\e7fc';
}
.md-icon-perm-camera-mic:before {
    content: '\e8a2';
}
.md-icon-perm-contact-calendar:before {
    content: '\e8a3';
}
.md-icon-perm-data-setting:before {
    content: '\e8a4';
}
.md-icon-perm-device-information:before {
    content: '\e8a5';
}
.md-icon-perm-identity:before {
    content: '\e8a6';
}
.md-icon-perm-media:before {
    content: '\e8a7';
}
.md-icon-perm-phone-msg:before {
    content: '\e8a8';
}
.md-icon-perm-scan-wifi:before {
    content: '\e8a9';
}
.md-icon-person:before {
    content: '\e7fd';
}
.md-icon-person-add:before {
    content: '\e7fe';
}
.md-icon-person-outline:before {
    content: '\e7ff';
}
.md-icon-person-pin:before {
    content: '\e55a';
}
.md-icon-personal-video:before {
    content: '\e63b';
}
.md-icon-phone:before {
    content: '\e0cd';
}
.md-icon-phone-android:before {
    content: '\e324';
}
.md-icon-phone-bluetooth-speaker:before {
    content: '\e61b';
}
.md-icon-phone-forwarded:before {
    content: '\e61c';
}
.md-icon-phone-in-talk:before {
    content: '\e61d';
}
.md-icon-phone-iphone:before {
    content: '\e325';
}
.md-icon-phone-locked:before {
    content: '\e61e';
}
.md-icon-phone-missed:before {
    content: '\e61f';
}
.md-icon-phone-paused:before {
    content: '\e620';
}
.md-icon-phonelink:before {
    content: '\e326';
}
.md-icon-phonelink-erase:before {
    content: '\e0db';
}
.md-icon-phonelink-lock:before {
    content: '\e0dc';
}
.md-icon-phonelink-off:before {
    content: '\e327';
}
.md-icon-phonelink-ring:before {
    content: '\e0dd';
}
.md-icon-phonelink-setup:before {
    content: '\e0de';
}
.md-icon-photo:before {
    content: '\e410';
}
.md-icon-photo-album:before {
    content: '\e411';
}
.md-icon-photo-camera:before {
    content: '\e412';
}
.md-icon-photo-library:before {
    content: '\e413';
}
.md-icon-photo-size-select-actual:before {
    content: '\e432';
}
.md-icon-photo-size-select-large:before {
    content: '\e433';
}
.md-icon-photo-size-select-small:before {
    content: '\e434';
}
.md-icon-picture-as-pdf:before {
    content: '\e415';
}
.md-icon-picture-in-picture:before {
    content: '\e8aa';
}
.md-icon-pin-drop:before {
    content: '\e55e';
}
.md-icon-place:before {
    content: '\e55f';
}
.md-icon-play-arrow:before {
    content: '\e037';
}
.md-icon-play-circle-filled:before {
    content: '\e038';
}
.md-icon-play-circle-outline:before {
    content: '\e039';
}
.md-icon-play-for-work:before {
    content: '\e906';
}
.md-icon-playlist-add:before {
    content: '\e03b';
}
.md-icon-plus-one:before {
    content: '\e800';
}
.md-icon-poll:before {
    content: '\e801';
}
.md-icon-polymer:before {
    content: '\e8ab';
}
.md-icon-portable-wifi-off:before {
    content: '\e0ce';
}
.md-icon-portrait:before {
    content: '\e416';
}
.md-icon-power:before {
    content: '\e63c';
}
.md-icon-power-input:before {
    content: '\e336';
}
.md-icon-power-settings-new:before {
    content: '\e8ac';
}
.md-icon-present-to-all:before {
    content: '\e0df';
}
.md-icon-print:before {
    content: '\e8ad';
}
.md-icon-public:before {
    content: '\e80b';
}
.md-icon-publish:before {
    content: '\e255';
}
.md-icon-query-builder:before {
    content: '\e8ae';
}
.md-icon-question-answer:before {
    content: '\e8af';
}
.md-icon-queue:before {
    content: '\e03c';
}
.md-icon-queue-music:before {
    content: '\e03d';
}
.md-icon-radio:before {
    content: '\e03e';
}
.md-icon-radio-button-checked:before {
    content: '\e837';
}
.md-icon-radio-button-unchecked:before {
    content: '\e836';
}
.md-icon-rate-review:before {
    content: '\e560';
}
.md-icon-receipt:before {
    content: '\e8b0';
}
.md-icon-recent-actors:before {
    content: '\e03f';
}
.md-icon-redeem:before {
    content: '\e8b1';
}
.md-icon-redo:before {
    content: '\e15a';
}
.md-icon-refresh:before {
    content: '\e5d5';
}
.md-icon-remove:before {
    content: '\e15b';
}
.md-icon-remove-circle:before {
    content: '\e15c';
}
.md-icon-remove-circle-outline:before {
    content: '\e15d';
}
.md-icon-remove-red-eye:before {
    content: '\e417';
}
.md-icon-reorder:before {
    content: '\e8fe';
}
.md-icon-repeat:before {
    content: '\e040';
}
.md-icon-repeat-one:before {
    content: '\e041';
}
.md-icon-replay:before {
    content: '\e042';
}
.md-icon-replay-10:before {
    content: '\e059';
}
.md-icon-replay-30:before {
    content: '\e05a';
}
.md-icon-replay-5:before {
    content: '\e05b';
}
.md-icon-reply:before {
    content: '\e15e';
}
.md-icon-reply-all:before {
    content: '\e15f';
}
.md-icon-report:before {
    content: '\e160';
}
.md-icon-report-problem:before {
    content: '\e8b2';
}
.md-icon-restaurant-menu:before {
    content: '\e561';
}
.md-icon-restore:before {
    content: '\e8b3';
}
.md-icon-ring-volume:before {
    content: '\e0d1';
}
.md-icon-room:before {
    content: '\e8b4';
}
.md-icon-rotate-90-degrees-ccw:before {
    content: '\e418';
}
.md-icon-rotate-left:before {
    content: '\e419';
}
.md-icon-rotate-right:before {
    content: '\e41a';
}
.md-icon-router:before {
    content: '\e328';
}
.md-icon-satellite:before {
    content: '\e562';
}
.md-icon-save:before {
    content: '\e161';
}
.md-icon-scanner:before {
    content: '\e329';
}
.md-icon-schedule:before {
    content: '\e8b5';
}
.md-icon-school:before {
    content: '\e80c';
}
.md-icon-screen-lock-landscape:before {
    content: '\e1be';
}
.md-icon-screen-lock-portrait:before {
    content: '\e1bf';
}
.md-icon-screen-lock-rotation:before {
    content: '\e1c0';
}
.md-icon-screen-rotation:before {
    content: '\e1c1';
}
.md-icon-sd-card:before {
    content: '\e623';
}
.md-icon-sd-storage:before {
    content: '\e1c2';
}
.md-icon-security:before {
    content: '\e32a';
}
.md-icon-select-all:before {
    content: '\e162';
}
.md-icon-send:before {
    content: '\e163';
}
.md-icon-settings:before {
    content: '\e8b8';
}
.md-icon-settings-applications:before {
    content: '\e8b9';
}
.md-icon-settings-backup-restore:before {
    content: '\e8ba';
}
.md-icon-settings-bluetooth:before {
    content: '\e8bb';
}
.md-icon-settings-brightness:before {
    content: '\e8bd';
}
.md-icon-settings-cell:before {
    content: '\e8bc';
}
.md-icon-settings-ethernet:before {
    content: '\e8be';
}
.md-icon-settings-input-antenna:before {
    content: '\e8bf';
}
.md-icon-settings-input-component:before {
    content: '\e8c0';
}
.md-icon-settings-input-composite:before {
    content: '\e8c1';
}
.md-icon-settings-input-hdmi:before {
    content: '\e8c2';
}
.md-icon-settings-input-svideo:before {
    content: '\e8c3';
}
.md-icon-settings-overscan:before {
    content: '\e8c4';
}
.md-icon-settings-phone:before {
    content: '\e8c5';
}
.md-icon-settings-power:before {
    content: '\e8c6';
}
.md-icon-settings-remote:before {
    content: '\e8c7';
}
.md-icon-settings-system-daydream:before {
    content: '\e1c3';
}
.md-icon-settings-voice:before {
    content: '\e8c8';
}
.md-icon-shop:before {
    content: '\e8c9';
}
.md-icon-shop-two:before {
    content: '\e8ca';
}
.md-icon-shopping-basket:before {
    content: '\e8cb';
}
.md-icon-shopping-cart:before {
    content: '\e8cc';
}
.md-icon-shuffle:before {
    content: '\e043';
}
.md-icon-signal-cellular-4-bar:before {
    content: '\e1c8';
}
.md-icon-signal-cellular-connected-no-internet-4-bar:before {
    content: '\e1cd';
}
.md-icon-signal-cellular-no-sim:before {
    content: '\e1ce';
}
.md-icon-signal-cellular-null:before {
    content: '\e1cf';
}
.md-icon-signal-cellular-off:before {
    content: '\e1d0';
}
.md-icon-signal-wifi-4-bar:before {
    content: '\e1d8';
}
.md-icon-signal-wifi-4-bar-lock:before {
    content: '\e1d9';
}
.md-icon-signal-wifi-off:before {
    content: '\e1da';
}
.md-icon-sim-card:before {
    content: '\e32b';
}
.md-icon-sim-card-alert:before {
    content: '\e624';
}
.md-icon-skip-next:before {
    content: '\e044';
}
.md-icon-skip-previous:before {
    content: '\e045';
}
.md-icon-slideshow:before {
    content: '\e41b';
}
.md-icon-smartphone:before {
    content: '\e32c';
}
.md-icon-sms:before {
    content: '\e625';
}
.md-icon-sms-failed:before {
    content: '\e626';
}
.md-icon-snooze:before {
    content: '\e046';
}
.md-icon-sort:before {
    content: '\e164';
}
.md-icon-sort-by-alpha:before {
    content: '\e053';
}
.md-icon-space-bar:before {
    content: '\e256';
}
.md-icon-speaker:before {
    content: '\e32d';
}
.md-icon-speaker-group:before {
    content: '\e32e';
}
.md-icon-speaker-notes:before {
    content: '\e8cd';
}
.md-icon-speaker-phone:before {
    content: '\e0d2';
}
.md-icon-spellcheck:before {
    content: '\e8ce';
}
.md-icon-star:before {
    content: '\e838';
}
.md-icon-star-border:before {
    content: '\e83a';
}
.md-icon-star-half:before {
    content: '\e839';
}
.md-icon-stars:before {
    content: '\e8d0';
}
.md-icon-stay-current-landscape:before {
    content: '\e0d3';
}
.md-icon-stay-current-portrait:before {
    content: '\e0d4';
}
.md-icon-stay-primary-landscape:before {
    content: '\e0d5';
}
.md-icon-stay-primary-portrait:before {
    content: '\e0d6';
}
.md-icon-stop:before {
    content: '\e047';
}
.md-icon-storage:before {
    content: '\e1db';
}
.md-icon-store:before {
    content: '\e8d1';
}
.md-icon-store-mall-directory:before {
    content: '\e563';
}
.md-icon-straighten:before {
    content: '\e41c';
}
.md-icon-strikethrough-s:before {
    content: '\e257';
}
.md-icon-style:before {
    content: '\e41d';
}
.md-icon-subject:before {
    content: '\e8d2';
}
.md-icon-subtitles:before {
    content: '\e048';
}
.md-icon-supervisor-account:before {
    content: '\e8d3';
}
.md-icon-surround-sound:before {
    content: '\e049';
}
.md-icon-swap-calls:before {
    content: '\e0d7';
}
.md-icon-swap-horiz:before {
    content: '\e8d4';
}
.md-icon-swap-vert:before {
    content: '\e8d5';
}
.md-icon-swap-vertical-circle:before {
    content: '\e8d6';
}
.md-icon-switch-camera:before {
    content: '\e41e';
}
.md-icon-switch-video:before {
    content: '\e41f';
}
.md-icon-sync:before {
    content: '\e627';
}
.md-icon-sync-disabled:before {
    content: '\e628';
}
.md-icon-sync-problem:before {
    content: '\e629';
}
.md-icon-system-update:before {
    content: '\e62a';
}
.md-icon-system-update-alt:before {
    content: '\e8d7';
}
.md-icon-tab:before {
    content: '\e8d8';
}
.md-icon-tab-unselected:before {
    content: '\e8d9';
}
.md-icon-tablet:before {
    content: '\e32f';
}
.md-icon-tablet-android:before {
    content: '\e330';
}
.md-icon-tablet-mac:before {
    content: '\e331';
}
.md-icon-tag-faces:before {
    content: '\e420';
}
.md-icon-tap-and-play:before {
    content: '\e62b';
}
.md-icon-terrain:before {
    content: '\e564';
}
.md-icon-text-format:before {
    content: '\e165';
}
.md-icon-textsms:before {
    content: '\e0d8';
}
.md-icon-texture:before {
    content: '\e421';
}
.md-icon-theaters:before {
    content: '\e8da';
}
.md-icon-thumb-down:before {
    content: '\e8db';
}
.md-icon-thumb-up:before {
    content: '\e8dc';
}
.md-icon-thumbs-up-down:before {
    content: '\e8dd';
}
.md-icon-time-to-leave:before {
    content: '\e62c';
}
.md-icon-timelapse:before {
    content: '\e422';
}
.md-icon-timer:before {
    content: '\e425';
}
.md-icon-timer-10:before {
    content: '\e423';
}
.md-icon-timer-3:before {
    content: '\e424';
}
.md-icon-timer-off:before {
    content: '\e426';
}
.md-icon-toc:before {
    content: '\e8de';
}
.md-icon-today:before {
    content: '\e8df';
}
.md-icon-toll:before {
    content: '\e8e0';
}
.md-icon-tonality:before {
    content: '\e427';
}
.md-icon-toys:before {
    content: '\e332';
}
.md-icon-track-changes:before {
    content: '\e8e1';
}
.md-icon-traffic:before {
    content: '\e565';
}
.md-icon-transform:before {
    content: '\e428';
}
.md-icon-translate:before {
    content: '\e8e2';
}
.md-icon-trending-down:before {
    content: '\e8e3';
}
.md-icon-trending-flat:before {
    content: '\e8e4';
}
.md-icon-trending-up:before {
    content: '\e8e5';
}
.md-icon-tune:before {
    content: '\e429';
}
.md-icon-turned-in:before {
    content: '\e8e6';
}
.md-icon-turned-in-not:before {
    content: '\e8e7';
}
.md-icon-tv:before {
    content: '\e333';
}
.md-icon-undo:before {
    content: '\e166';
}
.md-icon-unfold-less:before {
    content: '\e5d6';
}
.md-icon-unfold-more:before {
    content: '\e5d7';
}
.md-icon-usb:before {
    content: '\e1e0';
}
.md-icon-verified-user:before {
    content: '\e8e8';
}
.md-icon-vertical-align-bottom:before {
    content: '\e258';
}
.md-icon-vertical-align-center:before {
    content: '\e259';
}
.md-icon-vertical-align-top:before {
    content: '\e25a';
}
.md-icon-vibration:before {
    content: '\e62d';
}
.md-icon-video-library:before {
    content: '\e04a';
}
.md-icon-videocam:before {
    content: '\e04b';
}
.md-icon-videocam-off:before {
    content: '\e04c';
}
.md-icon-view-agenda:before {
    content: '\e8e9';
}
.md-icon-view-array:before {
    content: '\e8ea';
}
.md-icon-view-carousel:before {
    content: '\e8eb';
}
.md-icon-view-column:before {
    content: '\e8ec';
}
.md-icon-view-comfy:before {
    content: '\e42a';
}
.md-icon-view-compact:before {
    content: '\e42b';
}
.md-icon-view-day:before {
    content: '\e8ed';
}
.md-icon-view-headline:before {
    content: '\e8ee';
}
.md-icon-view-list:before {
    content: '\e8ef';
}
.md-icon-view-module:before {
    content: '\e8f0';
}
.md-icon-view-quilt:before {
    content: '\e8f1';
}
.md-icon-view-stream:before {
    content: '\e8f2';
}
.md-icon-view-week:before {
    content: '\e8f3';
}
.md-icon-vignette:before {
    content: '\e435';
}
.md-icon-visibility:before {
    content: '\e8f4';
}
.md-icon-visibility-off:before {
    content: '\e8f5';
}
.md-icon-voice-chat:before {
    content: '\e62e';
}
.md-icon-voicemail:before {
    content: '\e0d9';
}
.md-icon-volume-down:before {
    content: '\e04d';
}
.md-icon-volume-mute:before {
    content: '\e04e';
}
.md-icon-volume-off:before {
    content: '\e04f';
}
.md-icon-volume-up:before {
    content: '\e050';
}
.md-icon-vpn-key:before {
    content: '\e0da';
}
.md-icon-vpn-lock:before {
    content: '\e62f';
}
.md-icon-wallpaper:before {
    content: '\e1bc';
}
.md-icon-warning:before {
    content: '\e002';
}
.md-icon-watch:before {
    content: '\e334';
}
.md-icon-wb-auto:before {
    content: '\e42c';
}
.md-icon-wb-cloudy:before {
    content: '\e42d';
}
.md-icon-wb-incandescent:before {
    content: '\e42e';
}
.md-icon-wb-iridescent:before {
    content: '\e436';
}
.md-icon-wb-sunny:before {
    content: '\e430';
}
.md-icon-wc:before {
    content: '\e63d';
}
.md-icon-web:before {
    content: '\e051';
}
.md-icon-whatshot:before {
    content: '\e80e';
}
.md-icon-widgets:before {
    content: '\e1bd';
}
.md-icon-wifi:before {
    content: '\e63e';
}
.md-icon-wifi-lock:before {
    content: '\e1e1';
}
.md-icon-wifi-tethering:before {
    content: '\e1e2';
}
.md-icon-work:before {
    content: '\e8f9';
}
.md-icon-wrap-text:before {
    content: '\e25b';
}
.md-icon-youtube-searched-for:before {
    content: '\e8fa';
}
.md-icon-zoom-in:before {
    content: '\e8ff';
}
.md-icon-zoom-out:before {
    content: '\e900';
}
/* Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome */
/* custom font-awesome (only seven social fonts) */

@font-face {
    font-family: 'font-awesome';
    src: url('../fonts/font-awesome/font-awesome.eot');
    src: url('../fonts/font-awesome/font-awesome.eot') format('embedded-opentype'), url('../fonts/font-awesome/font-awesome.woff') format('woff'), url('../fonts/font-awesome/font-awesome.ttf') format('truetype'), url('../fonts/font-awesome/font-awesome.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^='iconfa'] {
    font-family: 'font-awesome';
    font-weight: normal;
    font-style: normal;
    /* Better Font Rendering =========== */
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconfa-facebook:before {
    content: '\e800';
}
.iconfa-twitter:before {
    content: '\e801';
}
.iconfa-dribbble:before {
    content: '\e802';
}
.iconfa-github:before {
    content: '\e803';
}
.iconfa-instagramm:before {
    content: '\e804';
}
.iconfa-flickr:before {
    content: '\e805';
}
.iconfa-gplus:before {
    content: '\e806';
}